<%- include("partials/header.ejs") %>
<h1>List of available posts: </h1>
<ul>
<% for (let i = 0; i < posts.length; i++) {%>
    <li> <a href="/post/<%= i %>"><%= posts[i].title %></a></li>
<% }%>
</ul>
<%- include("partials/footer.ejs") %>