* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #222831;
    padding: 20px;
}

header ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


li, header p, header a{
    list-style: none;
    color: white;
    text-decoration: none;
}

li a:hover{
    transform: scale(1.1);
    color: grey;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #222831;
}

footer p{
    color: white;
}
